@model IEnumerable<Product>

<h2>Products</h2>

<div style="display: block">
    <a href="/Product/InsertProduct/">Create a New Product</a>
</div>

<table class="table">
    <tr>
        <th>ProductID</th>
        <th>name</th>
        <th>price</th>
        <th>imagePath</th>
        <th>categoryID</th>
        

    </tr>

    @foreach(var product in Model)
    {
<tr>
    <td><a href=/Product/ViewProduct/@product.ProductID>@product.ProductID</a></td>
    <td>@product.ProductID</td>
    <td>@product.name</td>
    <td>@product.price</td>
    <td>@product.imagePath</td>
    <td>@product.categoryID</td>
    

</tr>

    }
</table>



